<app-nav-component></app-nav-component>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Esqueci minha senha</h5>
              <div class="form-label-group">
                <div class="warning" *ngIf="errorMsg">
                    <div class="alert alert-danger fade show" role="alert" >
                     {{errorMsg}}
                    </div>
                </div>
                <div class="row">
                    <div  class="col-md-7">
                        <input #email type="email" id="email" class="form-control" placeholder="Email address"  >
                    </div>
                    <div class="col-md-5">
                        <button  class="btn" [ngStyle]="{'display':enviado?'block':'initial'}" (click)="enviarResetPassword(email.value)">{{btnMsg}}</button>
                    </div>
                </div>
              </div>

        
          </div>
        </div>
      </div>
    </div>

  </div>